
pulsate { animation: 2s infinite alternate pulsate; }

@keyframes pulsate {
	from { letter-spacing: normal; }
	to { letter-spacing: 1px; }
}

black { color: black; }
silver { color: silver; }
gray { color: gray; }
white { color: white; }
maroon { color: maroon; }
red { color: red; }
purple { color: purple; }
fuchsia { color: fuchsia; }
green { color: green; }
lime { color: lime; }
olive { color: olive; }
yellow { color: yellow; }
navy { color: navy; }
blue { color: blue; }
teal { color: teal; }
aqua { color: aqua; }
orange { color: orange; }
aliceblue { color: aliceblue; }
antiquewhite { color: antiquewhite; }
aquamarine { color: aquamarine; }
azure { color: azure; }
beige { color: beige; }
bisque { color: bisque; }
blanchedalmond { color: blanchedalmond; }
blueviolet { color: blueviolet; }
brown { color: brown; }
burlywood { color: burlywood; }
cadetblue { color: cadetblue; }
chartreuse { color: chartreuse; }
chocolate { color: chocolate; }
coral { color: coral; }
cornflowerblue { color: cornflowerblue; }
cornsilk { color: cornsilk; }
crimson { color: crimson; }
cyan { color: cyan; }
darkblue { color: darkblue; }
darkcyan { color: darkcyan; }
darkgoldenrod { color: darkgoldenrod; }
darkgray { color: darkgray; }
darkgreen { color: darkgreen; }
darkgrey { color: darkgrey; }
darkkhaki { color: darkkhaki; }
darkmagenta { color: darkmagenta; }
darkolivegreen { color: darkolivegreen; }
darkorange { color: darkorange; }
darkorchid { color: darkorchid; }
darkred { color: darkred; }
darksalmon { color: darksalmon; }
darkseagreen { color: darkseagreen; }
darkslateblue { color: darkslateblue; }
darkslategray { color: darkslategray; }
darkslategrey { color: darkslategrey; }
darkturquoise { color: darkturquoise; }
darkviolet { color: darkviolet; }
deeppink { color: deeppink; }
deepskyblue { color: deepskyblue; }
dimgray { color: dimgray; }
dimgrey { color: dimgrey; }
dodgerblue { color: dodgerblue; }
firebrick { color: firebrick; }
floralwhite { color: floralwhite; }
forestgreen { color: forestgreen; }
gainsboro { color: gainsboro; }
ghostwhite { color: ghostwhite; }
gold { color: gold; }
goldenrod { color: goldenrod; }
greenyellow { color: greenyellow; }
grey { color: grey; }
honeydew { color: honeydew; }
hotpink { color: hotpink; }
indianred { color: indianred; }
indigo { color: indigo; }
ivory { color: ivory; }
khaki { color: khaki; }
lavender { color: lavender; }
lavenderblush { color: lavenderblush; }
lawngreen { color: lawngreen; }
lemonchiffon { color: lemonchiffon; }
lightblue { color: lightblue; }
lightcoral { color: lightcoral; }
lightcyan { color: lightcyan; }
lightgoldenrodyellow { color: lightgoldenrodyellow; }
lightgray { color: lightgray; }
lightgreen { color: lightgreen; }
lightgrey { color: lightgrey; }
lightpink { color: lightpink; }
lightsalmon { color: lightsalmon; }
lightseagreen { color: lightseagreen; }
lightskyblue { color: lightskyblue; }
lightslategray { color: lightslategray; }
lightslategrey { color: lightslategrey; }
lightsteelblue { color: lightsteelblue; }
lightyellow { color: lightyellow; }
limegreen { color: limegreen; }
linen { color: linen; }
magenta { color: magenta; }
mediumaquamarine { color: mediumaquamarine; }
mediumblue { color: mediumblue; }
mediumorchid { color: mediumorchid; }
mediumpurple { color: mediumpurple; }
mediumseagreen { color: mediumseagreen; }
mediumslateblue { color: mediumslateblue; }
mediumspringgreen { color: mediumspringgreen; }
mediumturquoise { color: mediumturquoise; }
mediumvioletred { color: mediumvioletred; }
midnightblue { color: midnightblue; }
mintcream { color: mintcream; }
mistyrose { color: mistyrose; }
moccasin { color: moccasin; }
navajowhite { color: navajowhite; }
oldlace { color: oldlace; }
olivedrab { color: olivedrab; }
orangered { color: orangered; }
orchid { color: orchid; }
palegoldenrod { color: palegoldenrod; }
palegreen { color: palegreen; }
paleturquoise { color: paleturquoise; }
palevioletred { color: palevioletred; }
papayawhip { color: papayawhip; }
peachpuff { color: peachpuff; }
peru { color: peru; }
pink { color: pink; }
plum { color: plum; }
powderblue { color: powderblue; }
rosybrown { color: rosybrown; }
royalblue { color: royalblue; }
saddlebrown { color: saddlebrown; }
salmon { color: salmon; }
sandybrown { color: sandybrown; }
seagreen { color: seagreen; }
seashell { color: seashell; }
sienna { color: sienna; }
skyblue { color: skyblue; }
slateblue { color: slateblue; }
slategray { color: slategray; }
slategrey { color: slategrey; }
snow { color: snow; }
springgreen { color: springgreen; }
steelblue { color: steelblue; }
tan { color: tan; }
thistle { color: thistle; }
tomato { color: tomato; }
turquoise { color: turquoise; }
violet { color: violet; }
wheat { color: wheat; }
whitesmoke { color: whitesmoke; }
yellowgreen { color: yellowgreen; }
rebeccapurple { color: rebeccapurple; }


markblack { background-color: black; }
marksilver { background-color: silver; }
markgray { background-color: gray; }
markwhite { background-color: white; }
markmaroon { background-color: maroon; }
markred { background-color: red; }
markpurple { background-color: purple; }
markfuchsia { background-color: fuchsia; }
markgreen { background-color: green; }
marklime { background-color: lime; }
markolive { background-color: olive; }
markyellow { background-color: yellow; }
marknavy { background-color: navy; }
markblue { background-color: blue; }
markteal { background-color: teal; }
markaqua { background-color: aqua; }
markorange { background-color: orange; }
markaliceblue { background-color: aliceblue; }
markantiquewhite { background-color: antiquewhite; }
markaquamarine { background-color: aquamarine; }
markazure { background-color: azure; }
markbeige { background-color: beige; }
markbisque { background-color: bisque; }
markblanchedalmond { background-color: blanchedalmond; }
markblueviolet { background-color: blueviolet; }
markbrown { background-color: brown; }
markburlywood { background-color: burlywood; }
markcadetblue { background-color: cadetblue; }
markchartreuse { background-color: chartreuse; }
markchocolate { background-color: chocolate; }
markcoral { background-color: coral; }
markcornflowerblue { background-color: cornflowerblue; }
markcornsilk { background-color: cornsilk; }
markcrimson { background-color: crimson; }
markcyan { background-color: cyan; }
markdarkblue { background-color: darkblue; }
markdarkcyan { background-color: darkcyan; }
markdarkgoldenrod { background-color: darkgoldenrod; }
markdarkgray { background-color: darkgray; }
markdarkgreen { background-color: darkgreen; }
markdarkgrey { background-color: darkgrey; }
markdarkkhaki { background-color: darkkhaki; }
markdarkmagenta { background-color: darkmagenta; }
markdarkolivegreen { background-color: darkolivegreen; }
markdarkorange { background-color: darkorange; }
markdarkorchid { background-color: darkorchid; }
markdarkred { background-color: darkred; }
markdarksalmon { background-color: darksalmon; }
markdarkseagreen { background-color: darkseagreen; }
markdarkslateblue { background-color: darkslateblue; }
markdarkslategray { background-color: darkslategray; }
markdarkslategrey { background-color: darkslategrey; }
markdarkturquoise { background-color: darkturquoise; }
markdarkviolet { background-color: darkviolet; }
markdeeppink { background-color: deeppink; }
markdeepskyblue { background-color: deepskyblue; }
markdimgray { background-color: dimgray; }
markdimgrey { background-color: dimgrey; }
markdodgerblue { background-color: dodgerblue; }
markfirebrick { background-color: firebrick; }
markfloralwhite { background-color: floralwhite; }
markforestgreen { background-color: forestgreen; }
markgainsboro { background-color: gainsboro; }
markghostwhite { background-color: ghostwhite; }
markgold { background-color: gold; }
markgoldenrod { background-color: goldenrod; }
markgreenyellow { background-color: greenyellow; }
markgrey { background-color: grey; }
markhoneydew { background-color: honeydew; }
markhotpink { background-color: hotpink; }
markindianred { background-color: indianred; }
markindigo { background-color: indigo; }
markivory { background-color: ivory; }
markkhaki { background-color: khaki; }
marklavender { background-color: lavender; }
marklavenderblush { background-color: lavenderblush; }
marklawngreen { background-color: lawngreen; }
marklemonchiffon { background-color: lemonchiffon; }
marklightblue { background-color: lightblue; }
marklightcoral { background-color: lightcoral; }
marklightcyan { background-color: lightcyan; }
marklightgoldenrodyellow { background-color: lightgoldenrodyellow; }
marklightgray { background-color: lightgray; }
marklightgreen { background-color: lightgreen; }
marklightgrey { background-color: lightgrey; }
marklightpink { background-color: lightpink; }
marklightsalmon { background-color: lightsalmon; }
marklightseagreen { background-color: lightseagreen; }
marklightskyblue { background-color: lightskyblue; }
marklightslategray { background-color: lightslategray; }
marklightslategrey { background-color: lightslategrey; }
marklightsteelblue { background-color: lightsteelblue; }
marklightyellow { background-color: lightyellow; }
marklimegreen { background-color: limegreen; }
marklinen { background-color: linen; }
markmagenta { background-color: magenta; }
markmediumaquamarine { background-color: mediumaquamarine; }
markmediumblue { background-color: mediumblue; }
markmediumorchid { background-color: mediumorchid; }
markmediumpurple { background-color: mediumpurple; }
markmediumseagreen { background-color: mediumseagreen; }
markmediumslateblue { background-color: mediumslateblue; }
markmediumspringgreen { background-color: mediumspringgreen; }
markmediumturquoise { background-color: mediumturquoise; }
markmediumvioletred { background-color: mediumvioletred; }
markmidnightblue { background-color: midnightblue; }
markmintcream { background-color: mintcream; }
markmistyrose { background-color: mistyrose; }
markmoccasin { background-color: moccasin; }
marknavajowhite { background-color: navajowhite; }
markoldlace { background-color: oldlace; }
markolivedrab { background-color: olivedrab; }
markorangered { background-color: orangered; }
markorchid { background-color: orchid; }
markpalegoldenrod { background-color: palegoldenrod; }
markpalegreen { background-color: palegreen; }
markpaleturquoise { background-color: paleturquoise; }
markpalevioletred { background-color: palevioletred; }
markpapayawhip { background-color: papayawhip; }
markpeachpuff { background-color: peachpuff; }
markperu { background-color: peru; }
markpink { background-color: pink; }
markplum { background-color: plum; }
markpowderblue { background-color: powderblue; }
markrosybrown { background-color: rosybrown; }
markroyalblue { background-color: royalblue; }
marksaddlebrown { background-color: saddlebrown; }
marksalmon { background-color: salmon; }
marksandybrown { background-color: sandybrown; }
markseagreen { background-color: seagreen; }
markseashell { background-color: seashell; }
marksienna { background-color: sienna; }
markskyblue { background-color: skyblue; }
markslateblue { background-color: slateblue; }
markslategray { background-color: slategray; }
markslategrey { background-color: slategrey; }
marksnow { background-color: snow; }
markspringgreen { background-color: springgreen; }
marksteelblue { background-color: steelblue; }
marktan { background-color: tan; }
markthistle { background-color: thistle; }
marktomato { background-color: tomato; }
markturquoise { background-color: turquoise; }
markviolet { background-color: violet; }
markwheat { background-color: wheat; }
markwhitesmoke { background-color: whitesmoke; }
markyellowgreen { background-color: yellowgreen; }
markrebeccapurple { background-color: rebeccapurple; }
