body { font-family: sans-serif; word-wrap: break-word; }

:root {
    --alternating-colour-even: hsl(0,0%,96%);
    --alternating-colour-odd:  hsl(0,0%,91%);
}

.post { margin: 0px; }
.post:nth-child(even) { background-color: var(--alternating-colour-even) }
.post:nth-child(odd)  { background-color: var(--alternating-colour-odd) }
.post {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    width: 100%
}
.post:last-of-type { border-bottom: 1px solid black; }

.post-heading { font-size: smaller; }
.post-heading,a.username {
	color: hsl(0,0%,25%); 
}
a.username {
    font-weight: bold;
    text-decoration: underline;
}
.post-heading-em { font-weight: bold; }
.post-content   * { margin-bottom: 8px; margin-top: 8px; }
.post-content > *:first-child { margin-top: 2px }
.post-content > *:last-child { margin-bottom: 0}
.post-content { padding: 4px }
.post-heading-a { margin-left: 0.2em }
.post-heading-b { float: right; margin-right: 0.5em }

.post-anchor-link { color: hsl(0,0%,25%); }

.thread-top-bar, .user-top-bar {
    margin-bottom: 4px;
}

.thread-top-bar-b {
    float: right;
    margin-right: -2px;
}

.thread-top-bar-b .tag {
    font-size: .9rem;
}

.user_info {
    border: 1px solid black;
	background-color: var(--alternating-colour-even);
    width: 100%;
	padding: 4px;
}
.user_bio_quote { width: max-content; max-width: 100% }
.user_bio_attribution { text-align: right; font-style: italic; }

dt { font-weight: bold }


.un-col-1 { color: hsl(0, 100%, 30%) }
.un-col-2 { color: hsl(22.5, 100%, 30%) }
.un-col-3 { color: hsl(45.0, 100%, 30%) }
.un-col-4 { color: hsl(67.5, 100%, 30%) }
.un-col-5 { color: hsl(90.0, 100%, 30%) }
.un-col-6 { color: hsl(112.5, 100%, 30%) }
.un-col-7 { color: hsl(135.0, 100%, 30%) }
.un-col-8 { color: hsl(157.5, 100%, 30%) }
.un-col-9 { color: hsl(180.0, 100%, 30%) }
.un-col-10 { color: hsl(202.5, 100%, 30%) }
.un-col-11 { color: hsl(225.0, 100%, 30%) }
.un-col-12 { color: hsl(247.5, 100%, 30%) }
.un-col-13 { color: hsl(270.0, 100%, 30%) }
.un-col-14 { color: hsl(292.5, 100%, 30%) }
.un-col-15 { color: hsl(315.0, 100%, 30%) }
.un-col-16 { color: hsl(337.5, 100%, 30%) }

img { max-width: 100% }


nav#navbar { float: right; padding: 5px; margin: 2px; border: 1px solid black; display:flex; align-items: center; flex-wrap: wrap }
nav#navbar p { margin-left: 15px; margin-top: 0; margin-bottom: 0; margin-right: 10px; padding: 0 }
nav#navbar p:first-of-type { margin-left:0.5em }
nav#navbar a { color: blue; text-decoration: none }
nav#navbar .links { display: flex; }

/* todo: make the navbar less bad */
.flashmsg { border: 1px solid black; background-color: yellow; max-width: max-content; padding: 5px; clear: both;}

.listing:nth-child(even) { background-color: var(--alternating-colour-even) }
.listing:nth-child(odd) { background-color: var(--alternating-colour-odd) }

.listing {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
	padding: 10px;
}
.listing:last-of-type { border-bottom: 1px solid black; }
.listing-main { 
	display: flex; 
	align-items: center;
}
.listing-title { 
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex-grow: 1;
}

.thread-listing-tags { 
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
}
.thread-listing-tags .tag { margin-left: 5px; }
.thread-listing-creation { 
	display: flex; 
	margin-left: 5px; 
	flex-wrap: nowrap; 
}
.thread-listing-creator { margin-right: 5px; }
.listing-caption { 
	overflow: hidden;
	font-size: smaller; 
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 10px;
}
.thread-preview-post a, .thread-preview-post a:visited { 
	color: black; 
	text-decoration: none; 
}
.thread-preview-post { font-style: italic; }
.thread-preview-ts { font-weight: bold; }

/* wide screens */
@media all and (min-width: 600px) { 
	.listing-title { font-size: larger; }
}

/* small screens */
@media not all and (min-width: 600px) {
	.thread-listing-creation { font-size: small; }
	.thread-listing-creator {
		max-width: 75px; 
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.actionbutton::before {
    content: "[";
    color: grey;
}
.actionbutton::after {
    content: "]";
    color: grey;
}
.actionbutton { color:blue }

.new-post-box {
    height:20em;
    resize:vertical;
    width:100%;
    border:1px solid black;
    margin-top: 5px;
}

main {
    max-width: 60ch;
    margin: auto;
}

blockquote {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 3px solid grey;
}

label { user-select: none; }

fieldset { margin-bottom: 15px; }

.search-form {
    display: inline-block;
}

.tag {
    font-size: .75rem;
    padding: 1px 3px;
    border: 1px solid black;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs li+li::before {
    content: "/\00a0";
    padding: 8px;
}
    
