{# BASED? BASED ON WHAT? #}
<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <nav>
			<p style="font-family: monospace;"><b>apio</b><i>forum</i>&trade;</p>
			<form class="search-form" action="/search">
				<input type="search" placeholder="query" name="q">
				<input type="submit" value="search">
			</form>
			<p><a href="{{url_for('index')}}">home</a></p>

			{% if g.user %}
			<p>{{ g.user }}</p>
			<p>
				<a href="{{ url_for('auth.logout',next=request.path) }}">
					logout
				</a>
			</p>
			{% else %}
			<p>
				<a href="{{ url_for('auth.login',next=request.path) }}">
					login
				</a>
			</p>
			<p>
				<a href="{{ url_for('auth.register',next=request.path) }}">
					register
				</a>
			</p>
			{% endif %}
        </nav>

        <div class="header">
        {% block header %}{% endblock %}
        </div>

        {% for msg in get_flashed_messages() %}
            <div class="flashmsg">{{ msg }}</div>
        {% endfor %}

        <main>
            {%block content %}{% endblock %}
        </main>
    <script>/* bees */</script>
    </body>
</html>

