{% macro disp_user(username) -%} 
<a href="{{url_for('user.view_user',username=username)}}" class="username">{{username}}</a>
{%- endmacro %}

{% macro disp_post(post, buttons=False) %}
<div class="post" id="post_{{post.id}}">
    <div class="post-heading">
        <span class="post-heading-a">
			{{disp_user(post.author)}}
			{{ts(post.created)}}
            {% if post.edited %}
                (edited {{ts(post.updated)}})
            {% endif %}
        </span>
        <span class="post-heading-b">
        {% if buttons and post.author == g.user %}
            <a class="actionbutton"
               href="{{url_for('thread.edit_post',post_id=post.id)}}">edit</a>
            <a class="actionbutton"
               href="{{url_for('thread.delete_post',post_id=post.id)}}">delete</a>
        {% endif %}
        <a class="post-anchor-link" href="{{url_for('thread.view_thread', thread_id=post.thread)}}#post_{{post.id}}">#{{post.id}}</a>
        </span>
    </div>
    <div class="post-content">
        {{ post.content|md|safe }}
    </div>
</div>
{% endmacro %}

{% macro ts(dt) -%}
<time title="{{dt.isoformat(' ')}}" datetime="{{dt.isoformat(' ')}}">{{dt | fuzzy}}</time>
{%- endmacro %}

{% macro tag(the_tag) -%}
<span class="tag" style="color: {{the_tag.text_colour}}; background-color: {{the_tag.bg_colour}}">{{the_tag.name}}</span>
{%- endmacro %}
