{% extends 'base.html' %}
{% from 'common.html' import tag %}
{% block header %}<h1>{% block title %}configure thread '{{thread.title}}'{% endblock %}</h1>{% endblock %}
{% block content %}
<form method="post">
<fieldset>
<legend>title</legend>
<label for="title">thread title</label>
<input type="text" id="title" name="title" value="{{thread.title}}">
</fieldset>
<fieldset>
<legend>tags</legend>
{% if avail_tags %}
	<ul>
		{% for the_tag in avail_tags %}
		<li>
			<input  type="checkbox" id="tag_{{the_tag.id}}" name="tag_{{the_tag.id}}" {%- if the_tag.id in thread_tags %} checked{% endif %}>
			<label for="tag_{{the_tag.id}}">#{{the_tag.id}} {{tag(the_tag)}}</label>
		</li>
		{% endfor %}
	</ul>
{% else %}
	<p>there are no available tags.</p>
{% endif %}
</fieldset>
<p>confirm changes?</p>
<input type="submit" value="confirm">
<a href="{{url_for('thread.view_thread',thread_id=thread.id)}}">cancel</a>
</form>
{% endblock %}
