{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}create thread{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="{{url_for('forum.create_thread')}}", method="POST">
    <label for="title">thread title</label>
    <input name="title" id="title">
    <br>
    <label for="content">thread content</label>
    <textarea name="content" id="content" class="new-post-box" placeholder="thread content here"></textarea>
    <input type="submit" value="create">
</form>
{% endblock %}
