{% from 'common.html' import ts %}
{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}delete thread '{{thread.title}}'{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="post">
<p>deleting thread created {{ts(thread.created)}} ago with {{post_count}} posts</p>
{% if post_count > 50 %}
<p class="warning">thread contains more than 50 posts!</p>
{% endif %}
<p>confirm delete?</p>
<input type="submit" value="delete">
<a href="{{url_for('thread.view_thread',thread_id=thread.id)}}">cancel</a>
</form>
{% endblock %}
