{% extends 'base.html' %}
{% from 'common.html' import ts %}
{% block header %}<h1>{% block title %}apio forum george etc{%endblock%}</h1>{%endblock%}
{%block content%}
<p>the</p>
<a href="{{url_for('forum.create_thread')}}">create thread</a>
<div class="threadlistings">
<div class="threadlisting">
    <div class="threadlisting-part threadlisting-part-title threadlisting-header">
        name
    </div>
    <div class="threadlisting-part threadlisting-part-id threadlisting-header">
        id
    </div>
    <div class="threadlisting-part threadlisting-part-creator threadlisting-header">
        creator
    </div>
    <div class="threadlisting-part threadlisting-part-created threadlisting-header">
        created
    </div>
    <div class="threadlisting-part threadlisting-part-updated threadlisting-header">
        last updated
    </div>
{%for thread in threads%}
<div class="threadlisting">
    <div class="threadlisting-part threadlisting-part-title"><a href="{{url_for('thread.view_thread',thread_id=thread.id)}}">{{thread.title}}</a></div>
    <div class="threadlisting-part threadlisting-part-id">#{{thread.id}}</div>
    <div class="threadlisting-part threadlisting-part-creator">{{thread.creator}}</div>
    <div class="threadlisting-part threadlisting-part-created">{{ts(thread.created)}}</div>
    <div class="threadlisting-part threadlisting-part-updated">{{ts(thread.updated)}}</div>
</div>
{%endfor%}
</div>
{%endblock%}
