{% extends 'base.html' %}
{% block header %}<h1>{% block title %}apio forum george etc{%endblock%}</h1>{%endblock%}
{%block content%}
<p>the</p>
<a href="{{url_for('forum.create_thread')}}">create thread</a>
<div class="threadlistings">
{%for thread in threads%}
<div class="threadlisting">
    <div class="threadlisting-part threadlisting-part-title"><a href="{{url_for('thread.view_thread',thread_id=thread.id)}}">{{thread.title}}</a></div>
    <div class="threadlisting-part threadlisting-part-id">#{{thread.id}}</div>
    <div class="threadlisting-part threadlisting-part-creator">{{thread.creator}}</div>
    <div class="threadlisting-part threadlisting-part-created">{{thread.created}}</div>
    <div class="threadlisting-part threadlisting-part-updated">{{thread.updated}}</div>
</div>
{%endfor%}
</div>
{%endblock%}
