{% from 'common.html' import disp_post %}
{% extends 'base.html' %}
{% block header %}
<h1>{%block title %}{{thread.title}}{% endblock %}</h1>
{% endblock %}

{%block content%}
<a class="actionbutton" href="{{url_for('thread.config_thread',thread_id=thread_id)}}">configure</a>
<div class="posts">
    {% for post in posts %}
    {% call disp_post(post, True) %}
        {{ rendered_posts[loop.index0] | safe}}
    {% endcall %}
    {% endfor %}
</div>
{% if g.user %}
<form class="new-post" action="{{url_for('thread.create_post',thread_id=thread_id)}}" method="POST">
    <textarea class="new-post-box" placeholder="your post here..." name="content"></textarea>
    <input type="submit" value="yes">
</form>
{% else %}
<p>please log in to reply to this thread</p>
{% endif %}
{% endblock %}
