{% extends 'base.html' %}
{% from 'common.html' import ts, tag, disp_user, post_url %}
{% block header %}<h1>{% block title %}apioforum{%endblock%}</h1>{%endblock%}
{%block content%}
<p>welcome to the apioforum</p>
<p>forum rules: do not be a bad person. do not do bad things.</p>
{% if g.user %}
<p><a class="actionbutton" href="{{url_for('forum.create_thread')}}">create new thread</a></p>
{% else %}
<p>please log in to create a new thread</p>
{% endif %}
<div class="thread-list">
	{%for thread in threads%}
		<div class="thread-listing">
			<div class="thread-listing-main">
				<div class="thread-listing-title">
					<a href="{{url_for('thread.view_thread',thread_id=thread.id)}}">
						{{- thread.title -}}
					</a>
				</div>
				<div class="thread-listing-tags">
					{% for the_tag in thread_tags[thread.id] %}
						{{tag(the_tag)}}
					{% endfor %}
				</div>
				<div class="thread-listing-creation">
					<div class="thread-listing-creator">
						{{ disp_user(thread.creator) }} 
					</div>
					{{ ts(thread.created) }}
				</div>
			</div>
			{% if preview_post[thread.id] %}
				<div class="thread-preview">
					{{ disp_user(preview_post[thread.id].author) }}
					<span class="thread-preview-ts">
						{{ ts(preview_post[thread.id].created) }}
					</span>
					<span class="thread-preview-post">
						<a href="{{post_url(preview_post[thread.id])}}">
							{{ preview_post[thread.id].content[:500]|e }}
						</a>
					</span>
				</div>
			{% endif %}
		</div>
	{%endfor%}
</div>
{%endblock%}
