{% from 'common.html' import disp_post,tag,vote_meter %}
{% extends 'base.html' %}
{% block header %}
<h1>{%block title %}{{thread.title}}{% endblock %}</h1>
{% endblock %}

{%block content%}
{% if poll %}
<p>{{poll.title}}</p>
<ul>
    {%for opt in poll.options%}
    <li>#{{opt.option_idx}} - {{opt.text}} - {{opt.num or 0}}</li>
    {%endfor%}
</ul>
{{ vote_meter(poll) }}
{% endif %}
<div class="thread-top-bar">
    <span class="thread-top-bar-a">
        {% if g.user == thread.creator %}
        <a class="actionbutton" href="{{url_for('thread.config_thread',thread_id=thread.id)}}">configure thread</a>
        {% endif %}
    </span>
    &nbsp;
    <span class="thread-top-bar-b">
        {% for the_tag in tags %}
            {{ tag(the_tag) }}
        {% endfor %}
    </span>
</div>

<div class="posts">
    {% for post in posts %}
        {% if votes[post.id] %}

            {% set vote = votes[post.id] %}        
            {% set option_idx = vote.option_idx %}
            
            {# this is bad but it's going to get refactored anyway #}
            {% set footer %}
                {% if vote.is_retraction %}
                    {{post.author}} retracted their vote
                {% else %}
                    {% set option = poll.options[option_idx-1] %}
                    {% if vote.current %}
                        {{post.author}} votes for {{option_idx}}: {{option.text}}
                    {% else %}
                        {{post.author}} voted for {{option_idx}}: {{option.text}}, but later changed their vote
                    {% endif %}
                {% endif %}

            {% endset %}

            {{ disp_post(post, buttons=True, footer=footer) }}
            
        {% else %}
            {{ disp_post(post, buttons=True) }}
        {% endif %}
    {% endfor %}
</div>
{% if g.user %}
<form class="new-post" action="{{url_for('thread.create_post',thread_id=thread.id)}}" method="POST">
    <textarea class="new-post-box" placeholder="your post here..." name="content"></textarea>
    {% if poll %}
    <fieldset>
        <legend>poll: {{poll.title}}</legend>
        <p>if you want, you can submit a vote along with this post. if you have previously voted
           on this poll, your previous vote will be changed</p>

        <input type="radio" id="dontvote" name="poll" value="dontvote" checked>
        <label for="dontvote">do not submit any vote at the moment</label>

        {% if has_voted %}
        <br>
        <input type="radio" id="retractvote" name="poll" value="retractvote">
        <label for="retractvote">retract my vote, and go back to having no vote on this poll</label>
        {% endif %}

        {% for opt in poll.options %}
            <br>
            <input type="radio" id="option_{{opt.option_idx}}" name="poll" value="{{opt.option_idx}}">
            <label for="option_{{opt.option_idx}}">submit a vote for #{{opt.option_idx}} - {{opt.text}}</label>
        {% endfor %}
    </fieldset>
    {% endif %}
    <input type="submit" value="yes">
</form>
{% else %}
<p>please log in to reply to this thread</p>
{% endif %}
{% endblock %}
