{% extends "base.html" %}
{% block header %}
    <h1>{% block title %}register{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>create a new account here. if you already have an account, <a href="{{url_for('auth.login')}}">login</a> instead.</p>
<form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <br>
    <input type="submit" value="register">
</form>
{% endblock %}
